<div class="container gap-top">
  <div class="row mb-2">
    <div class="col-md-12">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <h3 class="d-inline-block mb-2 color ">Liste de vins</h3>

            <div class="container ">
              <div class="card" *ngFor="let vins of vins">
                <div class="row" >
                  <div class="col-md-8 gap">
                    <div class="card-block">
                      <h6 class="card-title"><a class="color"  routerLink="/vins/{{ vins._id }}"> {{ vins.name }}</a></h6>
                      <p class="card-text color2" > {{vins.description}} </p>
                    </div>
                  </div>
                  <div class="col-md-3 gap">
                        <img class=" rounded float-right size" src={{vins.image}} alt={{vins.image}}>   
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>