<div class="container gap-top">
  <div class="row mb-2">
    <div class="col-md-12">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <div class="media gap-top">
              <div class="media-left col-md-4 media-middle "> 
             
                  <img class="media-object mx-auto d-block" src={{vignoble?.image}} alt={{vignoble?.image}} style="width: 100px; height:100px;">  
               </div> 
             <div class="media-body col-md-8">
                <h4 class="media-heading color">Vignoble {{vignoble?.name}}  </h4> {{vignoble?.description}}
              </div>  
           </div>



           <div class="container gap-top2">
              <div class="row mb-2">
                <div class="col-md-6">
                  <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column a">
                      <h3 class="d-inline-block mb-2 color ">Mes vins</h3>
                      <h6 *ngFor="let vin of vins| slice:0:5; let i=index" class="mb-0">
                        <a class="color2" routerLink="/vins/{{ vins._id }}">Name: {{ vin?.vineyard }}</a>
                      </h6>
                    </div>
                  </div>
                </div>
            
                <div class="col-md-6">
                  <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column ">
                      <h3 class="d-inline-block mb-2 color">Ou me trouver</h3> 
       
                      <agm-map [latitude]="vignoble?.latitude" [longitude]="vignoble?.longitude">
                        <agm-marker [latitude]="vignoble?.latitude" [longitude]="vignoble?.longitude"></agm-marker>
                        </agm-map>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


