<div class="container gap-top">
  <div class="row mb-2">
    <div class="col-md-12">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body ">
          <div class="media gap-top">
            <div class="media-left col-md-4 media-middle ">
              <img class=" rounded float-right size" src={{vin?.image}} alt={{vin?.image}}>
            </div>
            <div class="media-body col-md-8">
              <h4 class="media-heading color">{{vin?.name}}</h4> {{vin?.description}}
            </div>
          </div>
          <div class="media gap-top">
            <div class="media-left col-md-4 media-middle ">

            </div>
            <div class="media-body col-md-8">
              <span class="media-heading color">Prix: {{vin?.price}} - Quantité: {{vin?.quantity}} </span>
              <img class=" rounded float-right size" src={{vin?.image}} alt={{vin?.image}}>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
